/*

Name: Blox

Author : eurodimon

*/


/*

Table of Content:
* main fonts
* common
* button
* navigation bar
* header title main
* about us
* home intro
* services
* pricing
* features
* latest blog
* blog
* blog single
* pagination
* contact
* footer
* responsive

*/


/* main fonts */
/* poppins-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/website/fonts/airportnode/poppins-v21-latin-regular.woff2') format('woff2'); 
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/website/fonts/airportnode/poppins-v21-latin-500.woff2') format('woff2'); 
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/website/fonts/airportnode/poppins-v21-latin-600.woff2') format('woff2'); 
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/website/fonts/airportnode/poppins-v21-latin-700.woff2') format('woff2'); 
  }
  /* poppins-800 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/website/fonts/airportnode/poppins-v21-latin-800.woff2') format('woff2'); 
  }
  /* poppins-900 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/website/fonts/airportnode/poppins-v21-latin-900.woff2') format('woff2'); 
  }

/* common */
body {
    background: #FAFAFA;
    color: #1F1F1F;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    color: #1A1A1A;
}

a {
    color: #1A1A1A;
}

a:hover {
    color: #EF2F2A;
    text-decoration: none;
    transition: .5s ease-out;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

p {
    line-height: 26px;
}

.bg-grey {
    background: #f5f3fd;
}

/* button */
.button {
    background: #3b2bdc;
    padding: 12px 30px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px;
    color: #FAFAFA;
    letter-spacing: 1px;
    margin-top: 22px;
    display: inline-block;
    border: 2px solid transparent;
}

.button:hover {
    border-color: #3b2bdc;
    color: #3b2bdc;
    background: transparent;
    transition: .5s ease-out;
}

/* navigation bar */
.navbar {
    padding: 8px 0 12px;
    transition: .5s ease-out;
    background: transparent;
}

.navbar .navbar-brand {
    color: #FAFAFA;
    font-size: 32px;
    font-weight: 700;
}

.navbar .navbar-nav li {
    padding: 0 15px;
}

.navbar .navbar-nav li a {
    color: #FAFAFA;
    font-weight: 500;
    font-size: 15px;
}

.navbar .navbar-nav li a:last-child {
    padding-right: 0 !important;
}

.navbar .navbar-nav li:last-child {
    padding-right: 0;
}

.navbar .navbar-toggler i {
    color: #FAFAFA;
}

.navbar-fixed {
    background: #FAFAFA;
    transition: .5s ease-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0);
}

.navbar-fixed .navbar-brand {
    color: #232323;
}

.navbar-fixed .navbar-brand span {
    color: #EF2F2A;
}

.navbar-fixed .navbar-nav li a {
    color: #232323;
}

.navbar-fixed .navbar-toggler i {
    color: #333;
}

.navbar-transparent {
    background: transparent !important;
}

/* header title main */
.header-title {
    background: #EF2F2A;
    padding: 160px 0 100px;
    text-align: center;
}

.header-title h3, .header-title h1 {
    color: #FAFAFA;
    font-size: 42px;
    font-weight: 600;
}

/* about us */
.about h2 {
    font-weight: 600;
}

.about h2 span {
    color: #EF2F2A;
}

.about h6 {
    color: #333;
    margin-bottom: 28px;
    margin-top: 10px;
}

/* home intro */
.home-intro {
    background: linear-gradient(rgba(253, 70, 50, 0.5), rgba(253, 70, 50, 0.5)), url("/assets/website/img/airportnode/bg-intro.png");
    background-position-x: 0%, 0%;
    background-position-y: 0%, 0%;
    background-attachment: scroll, scroll;
    background-size: auto, auto;
    background-position: center;
    background-size: cover;
    padding: 210px 0 120px !important;
}

.home-intro h5 {
    color: #3b2bdc;
    margin-top: 40px;
}

.home-intro h2 {
    color: #FAFAFA;
    font-size: 40px;
    font-weight: 600;
    margin: 25px 0;
    line-height: 54px;
}

.home-intro h6 {
    color: #FAFAFA;
    line-height: 28px;
    font-size: 17px;
    margin-bottom: 15px;
}

.home-intro img {
    height: auto;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

/* section */
.section {
    padding: 100px 0 120px;
}

.title-section {
    text-align: center;
    margin-bottom: 50px;
}

.title-section h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.title-section h3 span {
    color: #EF2F2A;
}

.title-section p {
    width: 60%;
    margin: auto;
    line-height: 30px;
    font-size: 15px;
}

.title-section-two {
    text-align: left;
}

.title-section-two p {
    width: 100%;
}

/* services */
.services {
    padding: 100px 0 90px;
}

.services .content {
    background: #FAFAFA;
    border-radius: 6px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

.services .content i {
    font-size: 54px;
    color: #3b2bdc;
}

.services .content h5 {
    margin: 25px 0 14px;
}

.services .content-center {
    background: #3b2bdc;
    color: #FAFAFA;
}

.services .content-center i {
    color: #FAFAFA;
}

.services .content-center h5 {
    color: #FAFAFA;
}

/* pricing */
.pricing .content {
    border-radius: 6px;
    padding: 30px;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
    border: 2px solid #ddd;
}

.pricing .content h3 {
    font-size: 38px;
    font-weight: 600;
    margin: 10px 0 22px;
    color: #3b2bdc !important;
}

.pricing .content li {
    margin: 15px 0;
}

.pricing .content li i {
    margin-right: 20px;
}

.pricing .content-color {
    border: 2px solid #3b2bdc;
}

.pricing .content-color .button {
    background: #3b2bdc;
    padding: 12px 30px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px;
    color: #FAFAFA;
    letter-spacing: 1px;
    margin-top: 22px;
    display: inline-block;
    border: 2px solid transparent;
}

.pricing .content-color .button:hover {
    border-color: #3b2bdc;
    color: #3b2bdc;
    background: transparent;
    transition: .5s ease-out;
}

.pricing .button {
    border: 2px solid #1A1A1A;
    color: #1A1A1A;
    background: transparent;
}

.pricing .button:hover {
    border-color: #3b2bdc;
    color: #3b2bdc;
    background: transparent;
    transition: .5s ease-out;
}

/* features */
.features .content {
    background: #FAFAFA;
    border-radius: 6px;
    padding: 25px 30px;
    position: relative;
    margin-bottom: 25px;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

.features .content i {
    font-size: 54px;
    color: #3b2bdc;
    margin-top: 16px;
}

.features .content h5 {
    margin: 0 0 14px;
}

.features .content .icon {
    float: left;
    margin-right: 30px;
    text-align: center;
    width: 56px;
}

.features .content .content-text {
    overflow: hidden;
}

/* latest blog */
.latest-blog {
    padding-top: 120px;
}

.latest-blog .content {
    border-radius: 6px;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
    border: 2px solid #ddd;
}

.latest-blog .content span {
    position: relative;
    background: #3b2bdc;
    color: #FAFAFA;
    padding: 8px 20px;
    top: -29px;
    border-radius: 0 6px 0 0;
    margin-bottom: -29px;
    left: -2px;
}

.latest-blog .content img {
    border-radius: 3px 3px 0 0;
}

.latest-blog .content-text {
    padding: 30px;
    padding-top: 2px;
}

.latest-blog .content-text h5 {
    line-height: 30px;
}

.latest-blog .content-text a:hover {
    color: #EF2F2A;
    transition: .5s ease-out;
}

/* blog */
.blog .content {
    border-radius: 6px;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
    border: 2px solid #ddd;
    margin-bottom: 30px;
}

.blog .content span {
    position: relative;
    background: #3b2bdc;
    color: #FAFAFA;
    padding: 8px 20px;
    top: -29px;
    border-radius: 0 6px 0 0;
    margin-bottom: -29px;
    left: -2px;
}

.blog .content img {
    border-radius: 3px 3px 0 0;
}

.blog .content-text {
    padding: 30px;
    padding-top: 2px;
}

.blog .content-text h5 {
    line-height: 30px;
}

.blog .content-text a:hover {
    color: #EF2F2A;
    transition: .5s ease-out;
}

/* pagination */
.pagination {
    text-align: center;
    margin: 0 auto;
    display: inherit;
}

.pagination ul li {
    display: inline-block;
    margin: 10px;
}

.pagination ul li a {
    height: 50px;
    width: 50px;
    line-height: 48px;
    text-align: center;
    border: 2px solid #ddd;
    display: block;
    font-size: 18px;
    border-radius: 6px;
}

.pagination ul li .active {
    background: #3b2bdc;
    color: #FAFAFA;
    border-color: #3b2bdc;
}

/* blog single */
.blog-single .content h5 {
    font-size: 24px;
    line-height: 34px;
}

.blog-single .content li {
    display: inline-block;
    margin-right: 20px;
}

.blog-single .content li i {
    margin-right: 10px;
}

.blog-single .content img {
    margin-top: 30px;
    margin-bottom: 25px;
}

.blog-single .content .quote {
    background: #eee;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 22px;
}

.blog-single .comments {
    border-top: 2px solid #ddd;
    padding-top: 30px;
    margin-top: 35px;
}

.blog-single .comments h5 {
    margin-bottom: 25px;
}

.blog-single .button {
    margin-top: 0;
}

.blog-single .search {
    margin-bottom: 16px;
}

.blog-single .search input {
    width: calc(100% - 65px);
    height: 52px;
}

.blog-single .search .button {
    float: right;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 22px;
    height: 52px;
    line-height: 26px;
    width: 52px;
}

.blog-single .sidebar-link h5 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 14px;
    margin-bottom: 22px;
}

.blog-single .sidebar-link li {
    margin-bottom: 16px;
}

.blog-single .sidebar-link li a {
    font-size: 15px;
}

.blog-single .categories {
    margin-top: 40px;
}

/* contact */
.contact form input, .contact form textarea {
    border: 2px solid #ddd;
    padding: 15px 20px;
    border-radius: 6px;
    margin-bottom: 30px;
    width: 100%;
    color: #aaa;
}

.contact .button {
    margin-top: 0;
}

.contact li {
    margin-bottom: 25px;
    font-size: 20px;
}

.contact li i {
    margin-right: 28px;
    color: #3b2bdc;
}

.contact .map {
    position: relative;
    top: -5px;
}

.contact .map i {
    float: left;
    margin-right: 34px;
    margin-top: 10px;
}

.contact .map p {
    overflow: hidden;
    line-height: 42px;
}

::placeholder {
    color: #aaa;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #aaa;
}

::-ms-input-placeholder {
    color: #aaa;
}

form input, form textarea {
    border: 2px solid #ddd;
    padding: 15px 20px;
    border-radius: 6px;
    margin-bottom: 30px;
    width: 100%;
    color: #aaa;
}

.pointer-behave {
    cursor: pointer;
}

/* footer bottom */
.footer-bottom {
    background: #0a0a0a;
    text-align: center;
    color: #eee;
    padding: 20px 0 8px;
}

/* footer */
footer {
    padding: 120px 0 110px;
    background: #1A1A1A;
    color: #ddd;
}

footer h5 {
    color: #FAFAFA;
    margin-bottom: 25px;
}

footer h6 {
    color: #FAFAFA;
    font-size: 32px;
    font-weight: 700;
    position: relative;
    top: -8px;
}

footer h6 span {
    color: #EF2F2A;
}

footer ul li {
    margin-bottom: 15px;
}

footer ul li a {
    color: #ddd;
}

footer ul li a:hover {
    color: #EF2F2A;
    transition: .5s ease-out;
}

footer ul li i {
    margin-right: 25px;
}

footer ul .map {
    line-height: 30px;
}

footer ul .map i {
    float: left;
    margin-right: 34px;
    margin-top: 5px;
}

footer ul .map p {
    overflow: hidden;
}

footer ul li:last-child {
    margin-bottom: 0;
}

/*responsive*/
@media (max-width:980px) {
    .home-intro img {
        margin-top: 95px;
    }

    .services .content {
        padding: 20px;
    }

    .pricing .content {
        padding: 20px;
    }

    .features img {
        margin-bottom: 30px;
    }

    .latest-blog .content {
        margin-bottom: 30px;
    }

    .latest-blod .content.r-980 {
        margin-bottom: 0;
    }

    .about .col-md-6 {
        max-width: 100%;
        flex: 100%;
    }

    .features .col-md-6 {
        max-width: 100%;
        flex: 100%;
    }

}

@media (max-width:767px) {
    .latest-blod .content.r-980 {
        margin-bottom: 0;
    }

    .blog-single .search {
        margin-top: 30px;
    }

}

@media (max-width:640px) {
    .navbar-fixed .navbar-nav li {
        padding: 0;
    }

    .navbar .navbar-nav {
        background: #FAFAFA;
        padding: 14px;
    }

    .navbar .navbar-nav li a {
        color: #333;
    }

    .navbar-fixed .navbar-nav {
        padding: 0;
    }

    .services .content {
        margin-bottom: 30px;
    }

    .services .col-sm-12:last-child .content {
        margin-bottom: 0;
    }

    .pricing .content {
        margin-bottom: 30px;
    }

    .pricing .col-sm-12:last-child .content {
        margin-bottom: 0;
    }

    .latest-blod .content.r-980 {
        margin-bottom: 0;
    }

    .blog-single .search {
        margin-top: 30px;
    }

    footer .col-sm-6 {
        margin-top: 50px;
    }

}

@media (max-width:480px) {
    .navbar .navbar-brand {
        margin-left: 11px;
    }

    .navbar .navbar-nav {
        margin: 11px;
        margin-left: 11px !important;
    }

    .navbar-fixed .navbar-nav {
        padding: 2px;
    }

    .latest-blod .content.r-980 {
        margin-bottom: 0;
    }

    footer .col-12 {
        margin-top: 30px;
    }

}

@media (max-width:360px) {
    .latest-blod .content.r-980 {
        margin-bottom: 0;
    }

}
.footer-bottom a {color: #fff;}

.xcblog-blog-logo h1 {color: #fff;}
.xcblog-blog-logo h1, .xcblog-blog-logo span {font-size: 2.0rem;font-weight: bold;}
.xcblog-blog-list .item {margin-bottom: 1.5rem;}
.xcblog-blog-list .item h3 {font-size: 1.5rem;}